body{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
p{
    margin: 0;
    padding: 0;
}
h1{
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
    padding: 0;
}
h3{
    margin: 0;
    padding: 0;
}
.navbar_href{
    display: flex !important;
    justify-content: center !important;
    flex-wrap: wrap;
    gap: 42px;
    font-size: 15px;
    margin-top: 10px;
}
.navbar_href a{
    color: rgb(75, 74, 74);
}
.navbar_href img{
    width: 15px;
    height: auto;
}
.hover-img {
    position: relative;
    display: inline-block;
}

.hover-img img {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease;
}

.hover-img .hover {
    opacity: 0;
}

.hover-img:hover .hover {
    opacity: 1;
}   

.hover-img:hover .default {
    opacity: 0;
}
.grid_1st_icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}
.item_icon {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
}
.item_icon p{
    font-family: "Playfair Display", serif;
    font-size: 15px;
    color: black;
}
.intro_text_one{
    font-size: clamp(1rem, 3vw, 2.5rem);
    margin-left: 60px;
    margin-top: 120px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal; 
    margin-bottom: 100px;
}
.swiper {
    padding: 40px 150px;
    overflow: hidden;
    position: relative;
}

.swiper-slide {
    background: #fff;
    text-align: center;
    padding: 10px;
    transition: transform 0.3s;
    margin-bottom: 300px;
}

.swiper-slide img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.swiper-slide:hover {
    transform: scale(10.05);
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    bottom: 50px;
    top: auto;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-prev { 
    left: 10px; 
}
.swiper-button-next { 
    left: 60px; 
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 18px;
}
@media (max-width: 768px) {
    .swiper-button-next,
    .swiper-button-prev {
        width: 30px;
        height: 30px;
        bottom: 5px;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 14px;
    }
}
.swiper-slide h1{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin-top: 35px;
}
.swiper-slide h2{
    font-weight: 200;
    font-size: 20px;
    margin-top: 7px;
}
.swiper-slide p{
    font-family: "Playfair Display", serif;
    font-weight: 200;
    font-size: 20px;
    color: #5c5c5c;
    margin-top: 10px;
}
.swiper-slide h3{
    margin-top: 15px;
    font-weight: 100;
    font-family: "Padauk", sans-serif;
    font-style: normal;
}
.swiper-slide button{
    background-color:rgb(62, 126, 194);
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    border-color: rgb(62, 126, 194);
    color: #f0f0f0;
    font-family: "Crimson Text", serif;
    font-size: 13px;
    font-weight: 700;
    margin-top: 35px;
}
footer{
    /* align-items: center; */
    height: 967px;
    /* width: 100vw; */
    background-color: #e8e8ed;
    /* opacity: 0.36; */
    color: #9d9da4;
}

.footer1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    margin: 0px 250px 0px 220px;
    
}

.footer1 a{
    color: #6b6b71;
}

.footer1 .text1{
    padding-bottom: 10px;
    color: #9d9da4;
}

.footer1 .text2{
    padding-bottom: 10px;
    color: #9d9da4;
}

.footer1 .text3{
    padding-bottom: 10px;
    color: #9d9da4;
}

.footer1 .text4{
    padding-bottom: 10px;
    color: #9d9da4;
}

.footer3{
    border-top: 1px solid rgba(0, 0, 0, 0.222);
    padding-left: 30px;
    align-items: center;
    gap: 30px;
    margin: 30px 250px 0px 250px;
}
.panel1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel2{
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.panel3{
    display: flex;
    justify-content: end;
}

.panel2 li{
    list-style: none;
    padding: 6px;
    cursor: pointer;
}

.panel2 li:hover{
    text-decoration: underline;
    padding: 6px;
    cursor: pointer;
}

.panel3 li{
    list-style: none;
    padding-left: 100px;
    cursor: pointer;
}

.footer2{
    line-height: 189%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 250px 0px 250px;
    cursor: default;
}

.footer2 a:hover{
    text-decoration: underline;
}

.footer2 a{
    text-decoration: none;
    color: #9d9da4;
}

.sub-footer1{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sub-footer2{
    position: relative;
    top: -15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sub-footer3{
    position: relative;
    top: -48px;
    display: flex;
    flex-direction: column;
}

.sub-footer4{
    position: relative;
    top: -50px;
    display: flex;
    flex-direction: column;
}

.sub-footer5{
    position: relative;
    top: 7px;
    display: flex;
    flex-direction: column;
}



.ri-menu-line{
    display: none;
}


.nav3{

    height: 100vh;
    position: absolute;
    top: -100%;
    width: 100%;
    z-index: 99;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
    pointer-events:none;
}

.nav-top{
    height: 50vh;
    background-color: rgb(21, 20, 20);
}

.nav-bottom{
    height: 45vh;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.185);
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 4px );
}

.nav-top-store{
    display: flex;
    /* flex-direction: column; */
    padding: 2vw 20vw;
    gap: 3vw;

}

.nav-top-store a{
    
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.nav-top-store h4{
    color: rgba(255, 255, 255, 0.241);
    font-weight: 300;
    cursor: default;
}

.store1{
    line-height: 4vh;
    display: flex;
    flex-direction: column;
    font-weight: 800;
    font-size: 3vh;
}

.store2{
    line-height: 3vh;
    font-size: 13px;
    display: flex;
    flex-direction: column;
}

.store3{
    line-height: 3vh;
    font-size: 13px;
    display: flex;
    flex-direction: column;
}

@media (max-width:500px) {
    #main{
        height: 773vh;
    }
    nav{
        position: relative;
        justify-content: space-between;
    }

    .nav-items i{
        color: white;
    }

    .ri-apple-fill:before{
        padding-left: 11px;
        padding-right: 237px;
    }

    .ri-menu-line{
        display: initial;
    }
    .nav-items a{
        display: none;
    }
    .nav2{
        display: none;
    }

    .subnav{
        padding: 10vw 10vw;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        gap: 2vh;
        position: absolute;
        top: -109%;
        z-index: 99;
        background-color: rgb(21, 20, 20);
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
        /* position: fixed; */
    }
    
    .subnav i{
        position: absolute;
        top: 1%;
        /* left: 70%; */
        right: 22%;
        font-size: 4vh;
        color: white;
    }
    .subnav a{
        text-decoration: none;
        color: white;
        font-size: 3vh;
        font-weight: 600;
    }

    .hero-section2{
        background-image: url("Assests/iphone15white.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .text1 h2{
        font-size: 9vh;
    }
    .text1 h3{
        font-size: 2vh;
    }
    .links{
        font-size: 3vh;
    }

    .hero{
        background-image: url("Assests/iphon15resp.jpg");
    }
    .hero-p h2{
        font-size: 5vh;
    }
    .hero-p h3{
        font-size: 2vh;
        font-weight: 400;
    }
    .hero-section3{
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }

    .text0 h3{
        font-size: 3vh;
    }

    .hero-section4{
        justify-content: center;
        align-items: center;
        background-size: contain;
        flex-direction: column;
        /* height: 100%; */
        height: 150vh;
    }
    .section5-1{
        background-image: url("Assests/card2.jpg");
    }

    .text1 h3{
        font-weight: 400;
    }

    .text1 h2{
        font-size: 6vh;
    }

    .text3 h3{
        font-size: 3vh;
    }
    .text4 h3{
        font-size: 5vh;
    }

    .text6 h3{
        font-size: 6vh;
    }
    .text5 .links a{
        font-size: 2.5vh;
    }
   .s1{
    background-image: url("Assests/resp1.jpg");
   }
   .s2{
    background-image: url("Assests/resp2.jpg");
   }
   .s3{
    background-image: url("Assests/resp3.jpg");
   }
   .s4{
    background-image: url("Assests/resp4.jpg");
   }
   .s5{
    background-image: url("Assests/resp5.jpg");
   }

   footer{
    width: 414px;
    height: 1450px;
   }
   .footer1{
    margin: 0;
    
   }

   .footer3{
    flex-direction: column;
    align-items: end;
    margin: 0;
    font-size: 17px;
    padding-right: 147px;
   }

   .panel1{
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 10px;
    position: relative;
    right: -19%;
   }
   
   .panel2{
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-left: 117px;
    right: 54%;
    padding-bottom: 55px;
    }
   .panel3{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 55vw;
    font-size: 14px;
   }

   .panel3 a{
    color: #2997ff;
   }

   .nav3{
    display: none;
   }

   .footer2{
    position: relative;
    right: 53%;
    bottom: 4%;
    display: block;
   }

   .sub-footer1{
    width: 140px;
    line-height: 22px;
    padding-bottom: 28px;
   }

   .sub-footer2{
    width: 140px;
    line-height: 22px;
    padding-bottom: 28px;
   }

   .sub-footer3{
    width: 140px;
    line-height: 22px;
    padding-bottom: 28px;
   }

   .sub-footer4{
    width: 140px;
    line-height: 22px;
    padding-bottom: 28px;
   }

   .sub-footer5{
    width: 140px;
    position: absolute;
    line-height: 22px;
    padding-bottom: 28px;
    top: 78%;
   }
   .footer2 a{
    display: none;
   }

}